werwerwerwer

In [13]:
print("hola mundo")

hola mundo

In [14]:
import pandas as pd

creamos un diccionario

In [15]:
data_pais = {
    'pais': ['Brasil', 'Argentina', 'Chile', 'Peru', 'Colombia', 'españa'],
    'capital': ['Brasilia', 'Buenos Aires', 'Santiago', 'Lima', 'Bogota', 'Madrid'],
    'superficie': [8.516, 2.780, 2.006, 1.285, 1.141, 505],
    'poblacion': [210147125, 44938712, 19107216, 31376671, 49648685, 47000000]
}

craeamos un DataFrame a partir del diccionario

In [23]:
df = pd.DataFrame(data_pais)
print(df)

        pais       capital  superficie  poblacion
0     Brasil      Brasilia       8.516  210147125
1  Argentina  Buenos Aires       2.780   44938712
2      Chile      Santiago       2.006   19107216
3       Peru          Lima       1.285   31376671
4   Colombia        Bogota       1.141   49648685
5     españa        Madrid     505.000   47000000

Seleccionar solamente una columna del DataFrame

In [24]:
df[["capital", "superficie"]]

        capital  superficie
0      Brasilia       8.516
1  Buenos Aires       2.780
2      Santiago       2.006
3          Lima       1.285
4        Bogota       1.141
5        Madrid     505.000

podemos seleccionar filas por su posisicon de indice
primer indice inclusive

In [25]:
df[2:5]

       pais   capital  superficie  poblacion
2     Chile  Santiago       2.006   19107216
3      Peru      Lima       1.285   31376671
4  Colombia    Bogota       1.141   49648685

In [26]:
df.index = ["BR", "AR", "CH", "PE", "CO", "ES"]
print(df)

         pais       capital  superficie  poblacion
BR     Brasil      Brasilia       8.516  210147125
AR  Argentina  Buenos Aires       2.780   44938712
CH      Chile      Santiago       2.006   19107216
PE       Peru          Lima       1.285   31376671
CO   Colombia        Bogota       1.141   49648685
ES     españa        Madrid     505.000   47000000