In [1]:
import pandas as pd
import numpy as np

In [19]:
datos_alumnos = {
    'Nombre': ['Juan', 'Ana', 'Pedro', 'Marta', np.nan, 'Estela'],
    'nota mates': [5, 8, 6, 9, 5, 7],
    'Nota lengua': [7, 8, 6, 5, 4, 8],
}

In [3]:
df = pd.DataFrame(datos_alumnos)
print(df.head(6))

   Nombre  nota mates  Nota lengua
0    Juan           5            7
1     Ana           8            8
2   Pedro           6            6
3   Marta           9            5
4  julian           5            4
5  Estela           7            8

In [18]:
df.shape[0]

6

In [17]:
df.columns

Index(['Nombre', 'nota mates', 'Nota lengua'], dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       6 non-null      object
 1   nota mates   6 non-null      int64
 2   Nota lengua  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes

In [9]:
print(df.describe())

       nota mates  Nota lengua
count    6.000000     6.000000
mean     6.666667     6.333333
std      1.632993     1.632993
min      5.000000     4.000000
25%      5.250000     5.250000
50%      6.500000     6.500000
75%      7.750000     7.750000
max      9.000000     8.000000

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       6 non-null      object
 1   nota mates   6 non-null      int64
 2   Nota lengua  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes
None

In [21]:
df.count()

Nombre         6
nota mates     6
Nota lengua    6
dtype: int64

In [23]:
df['nota mates'].min()

np.int64(5)

In [24]:
df['nota mates'].max()

np.int64(9)

In [25]:
df.describe()

       nota mates  Nota lengua
count    6.000000     6.000000
mean     6.666667     6.333333
std      1.632993     1.632993
min      5.000000     4.000000
25%      5.250000     5.250000
50%      6.500000     6.500000
75%      7.750000     7.750000
max      9.000000     8.000000