In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/influencers.csv')
df

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,MADRID,adrianramos,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,ALICANTE,sofiasantos,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,ELCHE,dianapardo,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,MADRID,luciaserrano,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,ELCHE,dianapardo,12.0,129
5,183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,ALICANTE,sofiasantos,982.0,1822
6,183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,MADRID,adrianramos,389.0,258
7,183728,Thank you guess how did I feel somewhat offend...,NaN,50.0,10.0,ELCHE,dianapardo,12.0,129
8,183729,OnePlus 8 international giveaway classifies,198.0,82.0,26.0,ELCHE,dianapardo,12.0,129
9,183730,Here it is.. Retweet this desperate,272.0,92.0,29.0,ALICANTE,sofiasantos,982.0,1822
10,183731,Great to advertise during the year I tweeted a...,43.0,111.0,8.0,ALICANTE,sofiasantos,982.0,1822
11,183732,Its been in love with the game with the origin...,349.0,44.0,19.0,ALICANTE,sofiasantos,982.0,1822
12,183733,Programming is the best!,467.0,69.0,10.0,MADRID,adrianramos,389.0,258
13,183734,I cannot believe this!,50.0,24.0,22.0,MADRID,adrianramos,389.0,258
14,183735,Buy this product NOW!!,418.0,24.0,2.0,ELCHE,danicarvajal,21.0,2721
15,183736,I have one is best color gradients: Just relea...,361.0,92.0,1.0,ELCHE,dianapardo,12.0,129
16,183737,PIC!!,346.0,115.0,24.0,ALICANTE,cristianoronaldo,82.0,351
17,183738,hmmm feeling bad today,296.0,93.0,29.0,ELCHE,danicarvajal,21.0,2721
18,183739,not feeling god right now,315.0,26.0,10.0,MADRID,luciaserrano,332.0,378
19,183740,Programming is a hot topic!,133.0,145.0,15.0,ALICANTE,cristianoronaldo,82.0,351
20,183741,Programming? i love it!,92.0,146.0,1.0,MADRID,luciaserrano,332.0,378
21,183742,WHAT???,255.0,73.0,17.0,MADRID,luciaserrano,332.0,378
22,183743,Amazing video by Leonardo!,432.0,95.0,18.0,ALICANTE,cristianoronaldo,82.0,351
23,183744,Thanks man!,430.0,143.0,28.0,ALICANTE,cristianoronaldo,NaN,351
24,183745,There is nothing better than programming!,424.0,110.0,29.0,ALICANTE,cristianoronaldo,82.0,351
25,183746,BORED AF,488.0,28.0,27.0,ELCHE,danicarvajal,21.0,2721
26,183747,I do not know if i like programming or other t...,318.0,58.0,20.0,ALICANTE,antoniamartinez,928.0,9918

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         27 non-null     int64
 1   full_text  27 non-null     object
 2   favorites  26 non-null     float64
 3   retweets   26 non-null     float64
 4   mentions   26 non-null     float64
 5   country    27 non-null     object
 6   user       27 non-null     object
 7   followers  26 non-null     float64
 8   followees  27 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 2.0+ KB

In [8]:
df_filtrado = df.dropna()
df_filtrado

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,ELCHE,dianapardo,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,MADRID,luciaserrano,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,ELCHE,dianapardo,12.0,129
5,183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,ALICANTE,sofiasantos,982.0,1822
6,183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,MADRID,adrianramos,389.0,258
8,183729,OnePlus 8 international giveaway classifies,198.0,82.0,26.0,ELCHE,dianapardo,12.0,129
9,183730,Here it is.. Retweet this desperate,272.0,92.0,29.0,ALICANTE,sofiasantos,982.0,1822
10,183731,Great to advertise during the year I tweeted a...,43.0,111.0,8.0,ALICANTE,sofiasantos,982.0,1822
11,183732,Its been in love with the game with the origin...,349.0,44.0,19.0,ALICANTE,sofiasantos,982.0,1822
12,183733,Programming is the best!,467.0,69.0,10.0,MADRID,adrianramos,389.0,258
13,183734,I cannot believe this!,50.0,24.0,22.0,MADRID,adrianramos,389.0,258
14,183735,Buy this product NOW!!,418.0,24.0,2.0,ELCHE,danicarvajal,21.0,2721
15,183736,I have one is best color gradients: Just relea...,361.0,92.0,1.0,ELCHE,dianapardo,12.0,129
16,183737,PIC!!,346.0,115.0,24.0,ALICANTE,cristianoronaldo,82.0,351
17,183738,hmmm feeling bad today,296.0,93.0,29.0,ELCHE,danicarvajal,21.0,2721
18,183739,not feeling god right now,315.0,26.0,10.0,MADRID,luciaserrano,332.0,378
19,183740,Programming is a hot topic!,133.0,145.0,15.0,ALICANTE,cristianoronaldo,82.0,351
20,183741,Programming? i love it!,92.0,146.0,1.0,MADRID,luciaserrano,332.0,378
21,183742,WHAT???,255.0,73.0,17.0,MADRID,luciaserrano,332.0,378
22,183743,Amazing video by Leonardo!,432.0,95.0,18.0,ALICANTE,cristianoronaldo,82.0,351
24,183745,There is nothing better than programming!,424.0,110.0,29.0,ALICANTE,cristianoronaldo,82.0,351
25,183746,BORED AF,488.0,28.0,27.0,ELCHE,danicarvajal,21.0,2721
26,183747,I do not know if i like programming or other t...,318.0,58.0,20.0,ALICANTE,antoniamartinez,928.0,9918

limpiar un dataframe y poner una valor por defecto a todos los datos NaN

In [9]:
df_filtrado = df.fillna(0)
df_filtrado

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,MADRID,adrianramos,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,0.0,ALICANTE,sofiasantos,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,ELCHE,dianapardo,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,MADRID,luciaserrano,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,ELCHE,dianapardo,12.0,129
5,183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,ALICANTE,sofiasantos,982.0,1822
6,183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,MADRID,adrianramos,389.0,258
7,183728,Thank you guess how did I feel somewhat offend...,0.0,50.0,10.0,ELCHE,dianapardo,12.0,129
8,183729,OnePlus 8 international giveaway classifies,198.0,82.0,26.0,ELCHE,dianapardo,12.0,129
9,183730,Here it is.. Retweet this desperate,272.0,92.0,29.0,ALICANTE,sofiasantos,982.0,1822
10,183731,Great to advertise during the year I tweeted a...,43.0,111.0,8.0,ALICANTE,sofiasantos,982.0,1822
11,183732,Its been in love with the game with the origin...,349.0,44.0,19.0,ALICANTE,sofiasantos,982.0,1822
12,183733,Programming is the best!,467.0,69.0,10.0,MADRID,adrianramos,389.0,258
13,183734,I cannot believe this!,50.0,24.0,22.0,MADRID,adrianramos,389.0,258
14,183735,Buy this product NOW!!,418.0,24.0,2.0,ELCHE,danicarvajal,21.0,2721
15,183736,I have one is best color gradients: Just relea...,361.0,92.0,1.0,ELCHE,dianapardo,12.0,129
16,183737,PIC!!,346.0,115.0,24.0,ALICANTE,cristianoronaldo,82.0,351
17,183738,hmmm feeling bad today,296.0,93.0,29.0,ELCHE,danicarvajal,21.0,2721
18,183739,not feeling god right now,315.0,26.0,10.0,MADRID,luciaserrano,332.0,378
19,183740,Programming is a hot topic!,133.0,145.0,15.0,ALICANTE,cristianoronaldo,82.0,351
20,183741,Programming? i love it!,92.0,146.0,1.0,MADRID,luciaserrano,332.0,378
21,183742,WHAT???,255.0,73.0,17.0,MADRID,luciaserrano,332.0,378
22,183743,Amazing video by Leonardo!,432.0,95.0,18.0,ALICANTE,cristianoronaldo,82.0,351
23,183744,Thanks man!,430.0,143.0,28.0,ALICANTE,cristianoronaldo,0.0,351
24,183745,There is nothing better than programming!,424.0,110.0,29.0,ALICANTE,cristianoronaldo,82.0,351
25,183746,BORED AF,488.0,28.0,27.0,ELCHE,danicarvajal,21.0,2721
26,183747,I do not know if i like programming or other t...,318.0,58.0,20.0,ALICANTE,antoniamartinez,928.0,9918

In [10]:
df[(df['favorites'] > 400) & (df['mentions'] >= 20)]

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
23,183744,Thanks man!,430.0,143.0,28.0,ALICANTE,cristianoronaldo,NaN,351
24,183745,There is nothing better than programming!,424.0,110.0,29.0,ALICANTE,cristianoronaldo,82.0,351
25,183746,BORED AF,488.0,28.0,27.0,ELCHE,danicarvajal,21.0,2721

In [12]:
def popularidad(fila):
    followers = fila['followers']
    followees = fila['followees']
    resultado = followees / followers
    return resultado

df['popularidad'] = df.apply(popularidad, axis=1)
df[df['popularidad'] >= 15]

,id,full_text,favorites,retweets,mentions,country,user,followers,followees,popularidad
14,183735,Buy this product NOW!!,418.0,24.0,2.0,ELCHE,danicarvajal,21.0,2721,129.571429
17,183738,hmmm feeling bad today,296.0,93.0,29.0,ELCHE,danicarvajal,21.0,2721,129.571429
25,183746,BORED AF,488.0,28.0,27.0,ELCHE,danicarvajal,21.0,2721,129.571429

vamos agrupar por el campo COUNTRY y vamos a mostrar la media de dicho grupo

In [16]:
grupo = df.groupby(['country']).agg({
    "followers": "sum",
    "mentions": "mean",
    "retweets": "max",
})

grupo

          followers  mentions  retweets
country
ALICANTE     6166.0    19.600     145.0
ELCHE         123.0    13.750     130.0
MADRID       2884.0    11.875     146.0

In [19]:
grupo[grupo['followers'] > 5000]

          followers  mentions  retweets
country
ALICANTE     6166.0      19.6     145.0

vamos a almacenar en csv

In [ ]:
grupo.to_csv('data/grupo.csv')

grupo.to_json('data/grupo.json')

In [23]:
grupo.to_excel('data/grupo.xlsx')